<div class="container">
  <div class="inputIdCard">
    <h1>Genarate Student Id</h1>
    <div>
      <div>
        <input
          placeholder="Enter your First Name "
          type="text"
          [(ngModel)]="first_name"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Last Name "
          type="text"
          [(ngModel)]="last_name"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Roll Number"
          type="number"
          [(ngModel)]="rollnumber"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Year "
          type="number"
          [(ngModel)]="year"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Semister "
          type="number"
          [(ngModel)]="sem"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Branch "
          type="text"
          [(ngModel)]="branch"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Email "
          type="email"
          [(ngModel)]="email"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Mobile Number "
          type="number"
          [(ngModel)]="mobile"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Duration Years "
          type="text"
          [(ngModel)]="durationyear"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Url Link "
          type="url"
          [(ngModel)]="url"
        />
      </div>
      <div>
        <input
          placeholder="Enter your Date of Birth"
          type="date"
          [(ngModel)]="bday"
        />
      </div>
    </div>
    <div class="genaratebutton"><button (click)="Genarate()">Geanarate ID Card</button></div>
  </div>
  <div id="Download" class="outputIdCard">
    <h1>Student Profile Card</h1>
    <h2 id="clgname">Braillin Group of Instution</h2>
    <div class="idcard">
      <div>
        <div>
          <h3>Full Name : {{ first_name2 }} {{ last_name2 }}</h3>
        </div>
        <div>
          <h3>Roll Number : {{ rollnumber2 }}</h3>
        </div>
        <div>
          <h3>Year : {{ year2 }} - {{ sem2 }}</h3>
        </div>
        <div>
          <h3>Duration : {{ durationyear2 }}</h3>
        </div>
        <div>
          <h3>Email : {{ email2 }}</h3>
        </div>
        <div>
          <h3>Mobile : {{ mobile2 }}</h3>
        </div>
        <div>
          <h3>DOB : {{ bday2 }}</h3>
        </div>
        <div>
          <h3>Branch : {{ branch2 }}</h3>
        </div>
      </div>
      <div>
        <div id="profile">
            <img id="photo"
              src="{{url2}}"
            />
            <p>Profile Photo</p>
        </div>
      </div>
    </div>
    <!-- <button (click)="downloadIDCard($event)">Download</button> -->
  </div>
</div>
